@font-face {
  font-family: 'iCielHelveticaNowText-Black';
  src: local('iCielHelveticaNowText-Black'), url(~assets/fonts/iCielHelveticaNowText-Black.otf) format('opentype');
}
@font-face {
  font-family: 'iCielHelveticaNowText-Bold';
  src: local('iCielHelveticaNowText-Bold'), url(~assets/fonts/iCielHelveticaNowText-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'iCielHelveticaNowText-Light';
  src: local('iCielHelveticaNowText-Light'), url(~assets/fonts/iCielHelveticaNowText-Light.otf) format('opentype');
}
@font-face {
  font-family: 'iCielHelveticaNowText-Medium';
  src: local('iCielHelveticaNowText-Medium'), url(~assets/fonts/iCielHelveticaNowText-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'iCielHelveticaNowText-Thin';
  src: local('iCielHelveticaNowText-Thin'), url(~assets/fonts/iCielHelveticaNowText-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'iCielHelveticaNowText';
    src: local('iCielHelveticaNowText-Regular'), url(~assets/fonts/iCielHelveticaNowText-Regular.otf) format('opentype');
  }