$colorBrand: #00b14f;
$colorBorder: #ebeced;
$colorText: #333;
$colorCancel: #f46666;

$fontBold: iCielHelveticaNowText-Bold;
$fontMedium: iCielHelveticaNowText-Medium;
$fontNormal: iCielHelveticaNowText;
